scratch-notebooks/
**/__pycache__
build
dist
*.egg-info
.vim
__version__
.venv/
.coverage
codebase.md
Blue Lights (2023) - S01E03 - The Fear \[WEBDL-2160p]\[HLG]\[AAC 2.0]\[h265]-HONE_DTS.mkv
Blue Lights (2023) - S01E03 - The Fear \[WEBDL-2160p]\[HLG]\[AAC 2.0]\[h265]-HONE_DTS.fi.srt
exsubs
subsync
ssync
