auditok==0.1.5
chardet;python_version>='3.7'
charset_normalizer>=2.0.0
faust-cchardet
ffmpeg-python
future>=0.18.2
numpy>=1.12.0
pysubs2>=1.2.0;python_version>='3.7'
rich>=10.0.0
setuptools>=65.0.0
six
srt>=3.0.0
tqdm
typing_extensions
webrtcvad
scipy