auditok==0.1.5
chardet
charset_normalizer
faust-cchardet;python_version<'3.13'
ffmpeg-python
numpy>=1.12.0
pysubs2>=1.2.0
rich
setuptools
srt>=3.0.0
tqdm
typing_extensions
webrtcvad-wheels
ten-vad>=1.0
